.ant-card{
    
}

.ant-row{
    margin-bottom: 8px!important;
}

.ant-select{
    width: 100%;
}

@media(min-width: 768px){
    .ant-card-body{
        padding: 12px !important;
    }
}

.canvasjs-chart-container{
    width: 100% !important;
}

.canvasjs-chart-canvas{
    width: 100% !important;
}